html {
  width: 100%;
  box-sizing: border-box;
  font-size: calc(100vw / (1366 / 16));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1 {
  color: #333333;
  font-size: 3.75rem;
  font-family: 'Montserrat';
  font-weight: 700;
  letter-spacing: 0.05em;
  text-align: center;
  padding-top: 6.75rem;
}

h2 {
  font-family: 'Noto Sans JP';
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 0.05em;
  color: #333333;
  text-align: center;
}

p {
  font-family: 'Noto Sans JP';
  font-weight: 500;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

.search {
  width: 100%;
  height: 68rem;
  position: relative;
  background-color: rgba(248, 238, 127);
}

.search h1 {
  padding-top: 5.625rem;
}

footer {
  width: 100%;
  height: 9.9375rem;
  background-color: #141414;
  align-items: center;
  position: relative;
}

footer p {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 1rem;
  text-align: center;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}

.form_wrap {
  width: 69.375rem;
  margin: 0 auto;
}

.form_content {
  position: relative;
  margin-top: 3.75rem;
  background-color: #7fadf6;
  border: 5px solid #fff;
  border-radius: 1.25rem;
  font-family: 'Noto Sans JP';
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  padding: 5.625rem 0 11rem 10rem;
}

.label_section {
  padding-bottom: 1.875rem;
}

.label_text {
  margin-bottom: 0.625rem;
}

.input_area {
  border: 1px solid #AAAAAA;
  border-radius: 0.375rem;
  font-size: 1rem;
  width: 18.75rem;
  height: 2.1875rem;
}

.body {
  width: 37.5rem;
  height: 6rem;
  font-family: 'Noto Sans JP';
  font-weight: 400;
  line-height: 1.125rem;
  letter-spacing: 0.05em;
  padding: 0.5rem;
}

.input_area::placeholder {
  color: #8B8B8B;
}

.select_area {
  border: 1px solid #AAAAAA;
  border-radius: 0.375rem;
  font-size: 1rem;
  color: #8B8B8B;
  width: 18.75rem;
  height: 2.1875rem;
}

.btn_submit {
  width: 18.125rem;
  height: 4.125rem;
  background: rgb(250, 239, 118);
  border-radius: 3.125rem;
  border: none;
  text-align: center;
  line-height: 4.125rem;
  box-shadow: 0 0.625rem rgba(180, 172, 93, 0.763);
  position: absolute;
  color: #333333;
  font-size: 1.06rem;
  letter-spacing: 0.1875rem;
  position:absolute;
  bottom: 5rem;
  left: 50%;
  transform:translateX(-50%);
}

.btn_submit:active {
  box-shadow: none;
  transform: translate(-50%,0.3125rem);
}

.btn_submit:hover {
  background: rgb(250, 234, 57);
}

.result {
  width: 100%;
  height: 68rem;
}